WeMo Switch/WeMo Switch/bin/Debug/WeMo Switch.vshost.exe
WeMo Switch/WeMo Switch/obj/Debug/WeMo Switch.csproj.FileListAbsolute.txt
WeMo Switch/WeMo Switch/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WeMo Switch/WeMo Switch/obj/Debug/WeMo Switch.csproj.FileListAbsolute.txt